<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
<!-- 菜单栏部分 -->
<div class="course-left">
    <div class="course-title">
        &nbsp;<img src="/static/img/course.png" width="32" height="26"/>
        选课系统
    </div>
    <div class="course-subtitle">
        管理员菜单
    </div>
    <ul class="course-menu">
        <li name="insert">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;添加账号
        </li>
        <li name="member">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;账号管理中心
        </li>
        <li name="exit">
            <span class="glyphicon glyphicon glyphicon-log-out"></span>
            &nbsp;&nbsp;退出登录
        </li>
    </ul>
</div>
</header>
</html>