<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
<!-- 菜单栏部分 -->
<div class="course-left">
    <div class="course-title">
        &nbsp;<img src="/static/img/course.png" width="32" height="26"/>
        选课系统
    </div>
    <div class="course-subtitle">
        教师菜单
    </div>
    <ul class="course-menu">
        <li name="info">
            <span class="glyphicon glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;信息修改
        </li>
        <li name="insert">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;创建选课
        </li>
        <li name="course">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;选课中心
        </li>
        <li name="select">
            <span class="glyphicon glyphicon glyphicon-check"></span>
            &nbsp;&nbsp;已选课程
        </li>
        <li name="exit">
            <span class="glyphicon glyphicon glyphicon-log-out"></span>
            &nbsp;&nbsp;退出登录
        </li>
    </ul>
</div>
</header>
</html>