<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
<!-- 菜单栏部分 -->
<div class="course-left">
    <div class="course-title">
        &nbsp;<img src="/static/img/course.png" width="32" height="26"/>
        选课系统
    </div>
    <div class="course-subtitle">
        教师菜单
    </div>
    <ul class="course-menu">
        <li name="index">
            <span class="glyphicon glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;教师首页
        </li>
        <li name="info">
            <span class="glyphicon glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;信息修改
        </li>
        <li name="insert">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;创建选课
        </li>
        <li name="course1">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;我的课题
        </li>
        <li name="check">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;审核选题
        </li>
        <li name="downloding">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;查看学生课题报告
        </li>
        <li name="exit">
            <span class="glyphicon glyphicon glyphicon-log-out"></span>
            &nbsp;&nbsp;退出登录
        </li>
    </ul>
</div>
</header>
</html>